/node_modules
/.idea
/dist/*
!/dist/index.html
!/dist/property.html
!/dist/index.css
!/dist/property.css
!/dist/number.png
!/dist/assign.png
!/dist/closure.png
!/dist/function.png
!/dist/logic.png
!/dist/operator.png
!/dist/recfunction.png
!/dist/return.png
!/dist/variable.png
!/dist/compare.png
!/dist/if.png
!/dist/ifelse.png
!/dist/loop.png
!/dist/loop2.png
!/dist/print.png
.DS_Store
